---
layout: default
---
<body class="{{ page.type }} {{ page.slug }}">

  {% include header.html %}

  <main>
    <div class="docs-container">
      <div class="docs-nav-wrapper">
        {% include docs-nav.html %}
      </div>
      <div class="docs-content-wrapper">
        {% include docs-content.html %}
      </div>


    </div>
  </main>

  <footer>
    <div class="sleeve">
      {% include footer.html %}
    </div>
  </footer>

  <script src="{{ site.baseurl }}/assets/javascripts/main.js"></script>
  {% include custom-scripts.html %}
</body>
