<div class="docs-sidebar">
    <section>
        <ul>
            <li class="">
                <a href="{{ site.baseurl }}/sketches/" >Overview</a>
            </li>
            <li class="">
                <a href="{{ site.baseurl }}/about/" >For Faculty</a>
            </li>
            <li class="">
                <a href="{{ site.baseurl }}/projects/">For Students</a>
            </li>

            <li class="">
                <a href="{{ site.baseurl }}/collaborate/">Getting Help</a>
            </li>
            <li class="">
                <a href="{{ site.baseurl }}/blog/">Blog</a>
            </li>
        </ul>
    </section>
</div>